<div>
	<form method="get" action="/quizes">
		<div class="form-group">
			<input type="text" name="search" placeholder="Buscar pregunta"/>
		</div>
		<input type="submit" value="Buscar">
	</form>
</div>
<div class="col-quizes">
	<% var i; for(i=0;i<quizes.length;i++){ %>
		<article>
			<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a> -
			<a href="quizes/<%= quizes[i].id %>/edit">Editar</a>
			<a href="#" onClick="
				if(confirm('Borrar: <%= quizes[i].pregunta %>')){
					document.getElementById('FormDelete<%= quizes[i].id %>').submit();
				}
			">Borrar</a>
			<form method="POST" action="quizes/<%= quizes[i].id %>?_method=delete" id="FormDelete<%= quizes[i].id %>">
			</form>
		</article>
	<% } %>
</div>
<a href="/quizes/new">Crear preguntas</a>